<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <div class=" text-white">
          <a routerLink="/privacy-policy" class="text-decoration-legal me-3">Política de privacidad</a>
          <a routerLink="/terms-conditions" class="text-decoration-legal me-3">Términos y condiciones</a>
          <a routerLink="/cookie-policy" class="text-decoration-legal me-3">Política de cookies</a>
          <a routerLink="/legal-notice" class="text-decoration-legal me-3">Aviso legal</a>
          <a href="#" (click)="openCookieSettings($event)" class="text-decoration-legal">Configurar cookies</a>
        </div>
        <p class="mt-2 mb-0">©2025 MATEA - Todos los derechos reservados</p>
        
      </div>
    </div>
  </div>
</footer>
